/* Add your CSS styles here */
body {
    font-family: sans-serif;
    margin: 20px;
  }
  #loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #login, #dataEntry {
    margin-bottom: 20px;
  }